/*Background attribution: This pattern is bananas, from toptal.com subtlepatterns.org made by Marie Van den Broeck */
html,
body {
  height: 100%;
}

body {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(bananas.png);
  background-repeat: repeat;
  font-family: 'Numans', sans-serif;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #aee7e8;
  width: 50%;
  border: 4px solid white;
  border-radius: 2rem;
}

h2 {
  text-align: center;
  font-family: 'Mansalva', cursive;
}

h3 {
  align-self: flex-start;
  padding-left: 1rem;
  font-family: 'Mansalva', cursive;
  margin-bottom: 0px;
}

p {
  margin-bottom:0px;
}

#faq p {
  padding-left: 1rem;
}

#footer {
  text-align: center;
}

#quote{
  margin: 0;
}

#usage{
  margin-bottom: 1rem;
}

.leftpad {
  padding-left: 2rem !important;
}

button{
  border-radius: 3rem;
  background-color:  white;
  border: 2px solid lightgray;
  padding: .3rem 1rem;
}

#tweet{
  text-decoration: none;
}